img{
	margin: 10px;
}
.container{
	margin-left: 10px;
}
body{
	background: url("../images/marveldc.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Bangers', cursive;
	color: silver;
}

